<div ng-repeat="error in errors" style="background: crimson">
    {{error}}
</div>

{{user.email}}
<br><br>
<div ng-if="context.id != user.id">
    <select ng-model="model.companyId">
        <option ng-repeat="company in companies" ng-value="company.id">{{company.title}}</option>
    </select>
    <button ng-click="invite()">Invite user to company</button>
</div>

<div ng-if="context.id == user.id && invites.length > 0">
    <h4>My pending invites</h4>
    <div ng-repeat="invite in invites">
        {{invite.user.email}} {{invite.createdOn}} {{invite.status}} {{invite.company.title}}
        <button ng-click="accept(invite.id, invite.companyId)">Accept Invite</button>
        <button ng-click="decline(invite.id, invite.companyId)">Decline Invite</button>
    </div>
</div>