<h4 style="float:left">Projects</h4> <a href="/projects/new" style="float:right;" ng-if="context" class="btn btn-success btn-sm">Create Project</a>
<br>
<div class="row">
    <div ng-repeat="project in projects" class="col-md-10 col-sm-7 col-lg-12" style="border-radius: 3px;background: rgba(92, 184,92, 0.5); margin: 5px; padding: 7px">
        <h4><a href="/projects/{{project.id}}/page" style="color: black;">{{project.title}}</a></h4>
        <div>{{project.description}}</div>
        <span>${{project.paymentAmount}}</span> of <span>${{project.amount}}</span>
    </div>
</div>