<div ng-repeat="error in errors">
    {{error}}
</div>
<h3>Project {{!isNew ? 'edit' : 'add'}}</h3>
<br>
<input type="text" placeholder="title" ng-model="model.title"><br>
<input type="number" placeholder="amount" ng-model="model.amount"><br>
<textarea name="" id="" cols="30" rows="10" ng-model="model.description">Description</textarea><br>
<select ng-model="model.companyId" ng-if="isNew">
    <option ng-repeat="company in companies" ng-value="company.id">{{company.title}}</option>
</select><br><br>
<button ng-click="save(model)">{{!isNew ? 'Update' : 'Create'}}</button>