<div class="alert alert-danger" role="alert" ng-repeat="error in errors">
    {{error}}
</div>

<div ng-repeat="user in users" class="row">
    <div class="col-md-8 col-lg-9 col-sm-3">{{user.email}}</div>
    <div class="col-md-3 col-sm-4">
        <button ng-click="blockUser(user.id)" ng-disabled="user.isArchived" class="btn btn-sm btn-warning">Block user</button>
        <button ng-click="unBlockUser(user.id)" ng-disabled="!user.isArchived" class="btn btn-sm btn-success">Unblock user</button>
    </div>
    <hr>
</div>