<div class="alert alert-danger" role="alert" ng-repeat="error in errors">
    <div ng-repeat="(key, value) in error">{{value}}</div>
</div>


<form class="form-signin">
    <h2 class="form-signin-heading">Please sign in or <a href="/signup">signup</a></h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="password">
    <button class="btn btn-lg btn-primary btn-block" ng-click="signin(username, password)">Sign in</button>
</form>