<div ng-repeat="error in errors" style="background: crimson">
    {{error}}
</div>

<h3>{{model.title}} <a href="/companies/{{model.id}}">Edit</a></h3>
<div>{{model.tagLine}}</div>
<hr>
<div ng-if="!projects || projects.length === 0">
    There are no company's projects
</div>

<div ng-if="projects && projects.length > 0">
    <h4>Company's projects</h4>
</div>
<div ng-repeat="project in projects" style="background: #00FFaa; width: 300px; margin: 5px;padding: 5px;">
    <a href="/projects/{{project.id}}/page">{{project.title}}</a>
    <div>{{project.description}}</div>
    <div>${{project.paymentAmount / 100}} of ${{project.amount / 100}}</div>
    <div style="float:right"><a href="/projects/{{project.id}}">Edit</a> / <a href="#" ng-click="removeProject(project.id)">Remove</a></div>
    <div style="clear: both"></div>
</div>

<div ng-if="invites.length > 0">
    <h4>Pending invites to company</h4>
    <div ng-repeat="invite in invites">
        {{invite.user.email}} {{invite.createdOn}} {{invite.status}}
    </div>
</div>