<div class="alert alert-danger" role="alert" ng-repeat="error in errors">
    <div ng-repeat="(key, value) in error">{{value}}</div>
</div>


<h3>{{model.title}} <a class="btn btn-sm btn-warning" href="/companies/{{model.id}}">Edit</a></h3>
<div>{{model.tagLine}}</div>
<a href="/api/get-company-projects-pdf?companyId={{model.id}}" target="_blank">Generate company's projects report</a>
<hr>
<div ng-if="!projects || projects.length === 0">
    There are no company's projects
</div>

<a href="/api/get-projects-csv?companyId={{model.id}}" target="_blank">Export company's projects</a>
<a href="/api/get-company-users-csv?companyId={{model.id}}" target="_blank">Export company's users</a>

<div ng-if="projects && projects.length > 0">
    <h4>Company's projects</h4>
    <div ng-repeat="project in projects" style="background: #5cb85c; border-radius: 4px; margin: 5px;padding: 7px;">
        <div style="float:left">
        </div>
        <h4><a href="/projects/{{project.id}}/page" style="color:black">{{project.title}}</a></h4>
        <div>{{project.description}}</div>
        <div>${{project.paymentAmount / 100}} of ${{project.amount / 100}}</div>
    </div>
    <div style="float:right"><a class="btn btn-sm btn-success" href="/projects/{{project.id}}">Edit</a> <a class="btn btn-sm btn-success" href="#" ng-click="removeProject(project.id)">Remove</a></div>
    <div style="clear: both"></div>
</div>

<div ng-if="invites.length > 0">
    <h4>Pending invites to company</h4>
    <div ng-repeat="invite in invites">
        {{invite.user.email}} {{invite.createdOn}} {{invite.status}}
    </div>
</div>